body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.container-title{
    background-color: aquamarine;
}