@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body{
    background-color: #ffffff;
    font-family: "Baloo 2", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

* {
    font-family: inherit;
}

.form-container-persona{
    width: 450px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 2.5em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.form-container-h2{
    font-size: 2em;
    font-weight: 700;
    color: #142601;
    text-align: center;
}

.form-container-agr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form-container-agr input, select{
    width: 300px;
    padding: 2px;
    border: 1px solid #919191;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-container-p-botton{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    font-size: 20px;
    background-color: #8DA632;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
}
