.mascotas-container {
    position: relative;
    width: 100%;
    height: 110vh;
    background-image: url('../img/colombia-4878723_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mascotas-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Capa blanca semitransparente con opacidad ajustada */
    z-index: 1;
}

.mascotas-container > * {
    position: relative;
    z-index: 2;
}

.mascotas-title {
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.construction-message {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}